* {
    letter-spacing: 0.05;
    
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;

}
.head-title{
    border-bottom: 1px solid rgb(222, 222, 222);
    padding: 20px 0;
}
.mini-icon{
    height: 1em;
    vertical-align: middle;
    margin-right: 8px;
    width: 10px;
}

.describtion {
    margin: 2em 0;
}
.small-text{
    font-size: 0.7em;
    
}
.img-card{
    border: 1px solid rgba(229, 229, 229, 0.714);
    border-radius: 20px;
    margin: 0 10px;
    height: 400px;
}

.photo-slider{
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    overflow-x: auto;
    white-space: nowrap; /* Позволяет изображениям быть на одной строке */
    width: 100%;
}

.about-product{
    margin-top: 10px;
    opacity: 0;
    transform: translateY(100%);
}
.img-clothes{
    width: 100%;
    overflow: hidden;
}
.img-clothes:hover  .about-product{
    opacity: 1;
    transform: translateY(0);
    
}
.btn-border {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
.btn-border:hover {
    background-color: black;
    color: white;
}
.btn-border:hover .mini-icon{
    filter: invert(100%);
}

@media screen and (max-width: 768px) {
    .about-product {
        opacity: 1;
        transform: translateY(0);
    }
    .describtion, .about-product{
        font-size: 0.7em;
    }
}