@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}


.block {
    font-size: 0.8em;
    color: white;
    opacity: 0;
    padding: 10px;
    margin: 10px;
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(100%);
}
.block.active {
    opacity: 1;
    transform: translateY(0);
}
.block-container{
    height: 5em;
}

.logo{
    width: 100%;
    max-width: 400px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    max-width: 50px;
}
.icon-vk{
    padding-top: 5px;
}


.section{
    background-color: black
}
.section-container {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}
.section{

}
.btn-container{
    display: flex;
    justify-content: space-around;

    border-bottom: 1.2px solid rgba(255, 255, 255, 0.616);
}

.btn-container button{
    letter-spacing: 0.1em;

    /* width: 40%; */
    width: 100px;
    text-transform: uppercase;
    padding: 0.8em 2em;
    font-size: 1em;

    color: white;
    border: none;
    outline: 0;
    background-color: transparent;
}
.active-btn {
    font-weight: bold;
    /* border-bottom: 1px solid rgb(255, 255, 255) !important; */
}